@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');
@import "burger";
@import "player";
@import "about";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #000;
  background: url('../img/456.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.hide {
  display: none;
}

.start-item {
  width: 45%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  height: 200px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
  }


}

.start-title {
  text-align: center;
  text-transform: uppercase;
}

.start {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.last-link {
  width: 100% !important;
  height: 150px;
}


.header {
  position: relative;
  margin-bottom: 40px;
  padding: 20px;
  background-color: #000;
}

.header-content {
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.header-link {
  margin-right: 20px;

  transition: color .3s linear;

  &:hover {
    color: darken(#4fb3cb, 10%);
  }
}

.header-mobile {
  width: 100%;
  position: absolute;
  bottom: -290px;
  left: 0;
  z-index: 100;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;

}

.header-link-mobile {
  font-weight: 700;
  padding: 20px 0;
  margin-right: 0;
}

.active {
  color: #4fb3cb;
}


.heroCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.heroCard {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px;
  width: 45%;
  margin-bottom: 40px;
  cursor: pointer;
}



.heroCard-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 50px;
}

.heroCard-info {
  margin-top: 30px;
}

.heroCard-name {
  font-size: 25px;
  font-weight: 700;
}

.heroCard-level {
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
}

.oneHero {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.oneHero-header {
  display: flex;
}

.oneHero-header-name, .oneHero-header-level {
  font-weight: 700;
  font-size: 30px;
}

.oneHero-header-name {
  margin-bottom: 20px;
}

.oneHero-header-level {
  margin-right: 40px;
}

.oneHero-header-info {
  margin-left: 40px;
  width: 100%;
}

.oneHero-lvlBlock {
  display: flex;
  align-items: center;
}

.oneHero-history {
  font-size: 30px;
  padding: 0px 20px;
}

.oneHero-history-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.oneHero-adventure {
  font-weight: 700;
  font-size: 30px;
  margin-top: 40px;
}

.progress {
  height: 20px;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
  margin-bottom: 5px;
  width: 50%;
  position: relative;

  &__inner {
    height: 100%;
    border-radius: 30px;
    width: 80%;
    background: rgb(18, 231, 48);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
  }
}

.progress-start {
  font-size: 18px;
  font-weight: 600;
  color: black;
  z-index: 111111111;
}

.progress-end {
  font-size: 18px;
  font-weight: 600;
}

.progress-stats {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.progress-exp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  top: 0;
}

.oneHero-avatar {
  align-self: flex-start;
}

.oneHero-history-mobile {
  display: none;
}

.oneHero-history-mobileContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.oneHero-history-mobileImg {
  width: 25px;
  height: 25px;
  margin-top: -18px;
  margin-left: 20px;
}


@media (max-width: 1300px) {
  .start {
    width: 40%;
  }
}

@media (max-width: 1050px) {
  .start {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .heroCard {
    width: 48%;
  }
  .heroCard-avatar {
    width: 100px;
    height: 100px;
  }

  .heroCard-name, .heroCard-level {
    font-size: 20px;
  }

  .heroCard-info {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .start {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .heroCard {
    width: 100%;
  }

  .oneHero-header {
    flex-direction: column;
    align-items: center;
  }

  .oneHero-avatar {
    align-self: unset;
    width: 250px;
  }

  .oneHero-header-name {
    text-align: center;
  }

  .oneHero-header-info {
    margin-left: 0;
  }

  .oneHero-lvlBlock {
    width: 100%;
  }

  .progress {
    width: 70%;
  }

  .oneHero-adventure {
    text-align: center;
    margin-bottom: 20px;
  }

  .oneHero-history {
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .start {
    width: 70%;
  }

  .header {
    padding: 35px;
  }

  .burger-menu {
    display: block;
  }

  .header-content {
    display: none;
  }
}

@media (max-width: 600px) {
  .start {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .start {
    width: 95%;
  }
}

@media (max-width: 414px) {
  .start-img {
    width: 50px !important;
    height: 50px !important;
  }

  .start-item {
    width: 48%;
  }

  .start-title {
    font-size: 16px;
  }

  .oneHero-header-name,  .oneHero-header-level, .oneHero-adventure, .oneHero-history-title, .oneHero-history-text{
    font-size: 25px;
  }

  .oneHero-history {
    display: none;
  }

  .oneHero-history-mobile {
    display: block;
  }
}


.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

